<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
    $(document).on("keydown", "#descricaoResumida", function () {
        var caracteresRestantes = 1000;
        var caracteresDigitados = parseInt($(this).val().length);
        var caracteresRestantes = caracteresRestantes - caracteresDigitados;
        
        $(".caracteres").text(caracteresRestantes);
    });
</script>
<body>
	<div class="d-flex">
		<div th:replace="Menu :: menu">...</div>
		<div id="content" class="p-4 p-md-5 pt-5 form-requisicao">
			<button id="sidebarCollapse" type="button"
				class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
				<i class="fa fa-bars mr-2"></i><small
					class="text-uppercase font-weight-bold">Menu</small>
			</button>

			<div th:switch="${message}" class="col-md-12" id="msg" role="alert">
				<div th:case="'Success'" class="alert alert-success">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Sucesso!</strong> Requisição criada com sucesso
				</div>
				<div th:case="'Failed'" class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Falha!</strong> Houve algum problema na abertura de
					requisição
				</div>
			</div>
			<div class="col-md-12">
				<form th:action="@{/cadastrarTecnologias/incluir}" method="post"
					th:object="${tecnologias}">
					<div class="container my-5">
						<h3 align="center">Cadastrar Cursos | Tecnologias | Linguagens</h3>
						<BR />
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-heading">
									<div class="clearfix">
										<h1 class="panel-title" style="margin-left: -27px">Cursos | Tecnologias | Linguagens</h1>
									</div>
								</div>
							</div>
							<div class="row">
								<input type="hidden"  th:field="*{id}">
								<BR />
								<div class="form-group col-md-6">
									<label for="nomeCurso" class="col-form-label"
										style="margin-left: 1px">Tecnolgias</label> <input
										type="text" th:field="*{nomeCurso}" class="form-control"
										id="nomeCurso" placeholder="Digite o Curso e/ou Linguagem">
									<span th:if="${#fields.hasErrors('nomeCurso')}"
										th:errors="*{nomeCurso}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-3">
									<label for="versao" class="col-form-label"
										style="margin-left: 1px">Versão</label> <input type="text"
										th:field="*{versao}" class="form-control" id="versao"
										placeholder="Digite a Versão"> <span
										th:if="${#fields.hasErrors('versao')}" th:errors="*{versao}"
										class="text-danger"></span>
								</div>
								</div>
								<div class="row">
								<div class="form-group col-md-12">
								
									<label for="descricaoResumida" class="col-form-label"
										style="margin-left: 1px">Descrição Resumida</label> <span class="caracteres">1000</span> Restantes <br>
									<textarea maxlength="1000" cols="10" rows="5"
										th:field="*{descricaoResumida}" class="form-control"
										id="descricaoResumida"></textarea>
									<span th:if="${#fields.hasErrors('descricaoResumida')}"
										th:errors="*{descricaoResumida}" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="form-group col-md-12">
							<div class="form-group"
								style="margin-right: -15px; text-align: right;">
								<input type="submit" id="incluir" class="btn btn-primary"
									value="Incluir">
							</div>
						</div>
						<BR />
						<HR style="color: black" />
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-heading">
									<div class="clearfix">
										<h1 class="panel-title" style="margin-left: -27px">Tecnologias Cadastrados</h1>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table 
										class="table table-sm table-striped table-hover table-bordered">
										<thead>
											<tr>
												<th>Código de Cadastro</th>
												<th>Nome da tecnologia</th>
												<th>Versão</th>
												<th>Descrição da tecnologia</th>
												<th>Data</th>
												<th>Usuário</th>
												<th>Ações</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="tecnologias : ${listTecnologias}" >
												<td th:text="${tecnologias.id}"></td>
												<td th:text="${tecnologias.nomeCurso}"></td>
												<td th:text="${tecnologias.versao}"></td>
												<td th:text="${tecnologias.descricaoResumida}" style="word-wrap:break-word;width: 310px"></td>
												<td
													th:text="${tecnologias.dataManutencaoFormat}"></td>
												<td th:text="${tecnologias.usuario}"></td>
												<td>
													<div class="btn-group pull-right">
														<a class="btn btn-sm btn-primary" style="width: 58px"
															th:href="@{/cadastrarTecnologias/edit/{id}(id=${tecnologias.id})}">Editar</a>
														<a class="delete btn btn-sm btn-danger" style="margin-left:2px"
															th:href="@{/cadastrarTecnologias/delete/{id}(id=${tecnologias.id})}">Excluir</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>