<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
</script>
<body>
	<div class="d-flex">
		<div th:replace="Menu :: menu">...</div>
		<div id="content" >
			<button id="sidebarCollapse" type="button"
				class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
				<i class="fa fa-bars mr-2"></i><small
					class="text-uppercase font-weight-bold">Menu</small>
			</button>
			<div>
				<div th:each="m : ${msg}">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${m}"></span>
				</div>

				<div th:switch="${message}" class="col-md-12" id="msg" role="alert">
					<div th:case="'Success'" class="alert alert-success">
						<a href="#" class="close" data-dismiss="alert"
							aria-label="close">&times;</a> <strong>Sucesso!</strong>
						Comercial criado com sucesso.
					</div>
					<div th:case="'Failed'" class="alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Falha!</strong> Erro ao registrar o comercial.
					</div>
				</div>

				<div class="container my-5">
					<h3 align="center" style="margin-left: -100px">Cadastro
						Comercial</h3>
					<BR /> <BR />

					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-heading">
								<div class="clearfix">
									<h1 class="panel-title">Registrar Comercial</h1>
								</div>
							</div>
						</div>

						<div class="panel-body">
							<form th:action="@{/comercial/salvar}" th:object="${comercial}"
								method="POST">

								<div class="row">
									<div class="form-group col-md-3">
										<label for="email" class="col-form-label">E-mail</label> <input
											type="text" th:field="*{email}" class="form-control"
											id="email" data-inputmask="'alias': 'email'"
											placeholder="Email"><span
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
											class="text-danger"></span>

									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-3">
										<label for="telefone" class="col-form-label">Telefone
										</label> <input type="text" th:field="*{telefone}"
											class="form-control" id="telefone" placeholder="Telefone"><span
											th:if="${#fields.hasErrors('telefone')}"
											th:errors="*{telefone}" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-3">
										<label for="slack" class="col-form-label">Slack</label> <input
											type="text" th:field="*{slack}" class="form-control"
											id="slack" placeholder="Slack"> <span
											th:if="${#fields.hasErrors('slack')}" th:errors="*{slack}"
											class="text-danger"></span>
									</div>
								</div>

								<div class="col-md-6">
									<input type="submit" class="btn btn-primary" value="Registrar">
								</div>

								<div class="form-group col-md-8"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>