<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
	$(document).on("keydown", "#descricaoResumida", function() {
		var caracteresRestantes = 1000;
		var caracteresDigitados = parseInt($(this).val().length);
		var caracteresRestantes = caracteresRestantes - caracteresDigitados;

		$(".caracteres").text(caracteresRestantes);
	});
</script>
<body>
	<div class="d-flex">
		<div th:replace="Menu :: menu">...</div>
		<div id="content">
			<button id="sidebarCollapse" type="button"
				class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
				<i class="fa fa-bars mr-2"></i><small
					class="text-uppercase font-weight-bold">Menu</small>
			</button>
			<div th:switch="${message}" class="col-md-12" id="msg" role="alert">
				<div th:case="'success'" class="alert alert-success">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Sucesso!</strong> Currículo Cadastrado com sucesso!
				</div>
				<div th:case="'failed'" class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Falha!</strong> Houve algum problema no cadatro. Favor
					verificar com o ADM!
				</div>
				<div th:case="'duplicateInsert'" class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Falha!</strong> Este candidato já existe na base de dados!
				</div>
				<div th:case="'validacaoExtensaoUpload'" class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Falha!</strong> Favor selecione as extensões dos arquivos
					corretamente. PDF ou DOC/DOCX!
				</div>
				<div th:case="'validacaoUpload'" class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Falha!</strong> Obrigatório ao menos um currículo para upload!
				</div>
				<div th:case="'tamanhoNSuportado'" class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Falha!</strong> Tamanho do(s) documento(s) para upload está
					superior ao permitido. Favor, refaça o processo novamente.
				</div>
			</div>

			<div class="container my-5">
				<div align="right" style="margin-top: -20px"
					class="form-group col-md-12">
					<output th:text="Olá+': ' + ${login.name}"></output>
					<span>Sair</span>&nbsp; <a href="#" th:href="@{/login/logout}">
						<img src="/img/sair.png" style="width: 22px; height: 22px">
					</a>
				</div>
				<h3 align="center">Cadastrar Currículos</h3>
				<BR />
				<div class="col-md-12">
					<form th:action="@{/cadastrarCurriculos/add}" method="post"
						th:object="${curriculos}" enctype="multipart/form-data">

						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-heading">
									<div class="clearfix">
										<h1 class="panel-title" style="margin-left: -27px">Currículos</h1>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-3">
									<label for="cpf" class="col-form-label"
										style="margin-left: 1px">CPF</label> <input type="text"
										th:field="*{cpf}" data-inputmask="'mask': '999.999.999-99'"
										class="form-control" id="cpf" placeholder="Digite seu CPF">
									<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
										class="text-danger"></span>
								</div>
								<div class="form-group col-md-7">
									<label for="nome" class="col-form-label"
										style="margin-left: 1px">Nome do Candidato</label> <input
										type="text" th:field="*{nome}" class="form-control" id="nome"
										placeholder="Digite o nome do Candidato"> <span
										th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
										class="text-danger"></span>
								</div>

								<div class="form-group col-md-2">
									<label for="dataNascimento" class="col-form-label"
										style="margin-left: 1px">Data Nascimento</label> <input
										type="date" th:field="*{dataNascimento}"
										th:text="${#temporals.format(localDate, 'yyyy-MM-dd')}"
										class="form-control" id="dataNascimento"
										placeholder="Data Nascimento"><span
										th:if="${#fields.hasErrors('dataNascimento')}"
										th:errors="*{dataNascimento}" class="text-danger"></span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-3">
									<label for="formaContratacaoPrimaria"
										class="col-form-label labels">Contratação Primária</label> <select
										class="form-control" th:field="*{formaContratacaoPrimaria}">
										<option th:value="''" th:text="SELECIONE"></option>
										<option
											th:each="tipoContratacao : ${T(com.br.itsingular.enums.TipoContratacao).values()}"
											th:value="${tipoContratacao}" th:text="${tipoContratacao}"></option>
									</select> <span th:if="${#fields.hasErrors('formaContratacaoPrimaria')}"
										th:errors="*{formaContratacaoPrimaria}" class="text-danger"></span>

								</div>
								<div class="form-group col-md-3">
									<label for="valorContratacaoPrimaria"
										class="col-form-label labels">Valor (Por Hora)</label> <input
										type="text" th:field="*{valorContratacaoPrimaria}"
										data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': 'R$ ', 'placeholder': '0'"
										class="form-control" id="valorContratacaoPrimaria"
										placeholder="Valor"><span
										th:if="${#fields.hasErrors('valorContratacaoPrimaria')}"
										th:errors="*{valorContratacaoPrimaria}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-3">
									<label for="formaContratacaoSecundaria"
										class="col-form-label labels">Pretenção Secundário</label> <select
										class="form-control" th:field="*{formaContratacaoSecundaria}">
										<option th:value="''" th:text="SELECIONE"></option>
										<option
											th:each="tipoContratacao : ${T(com.br.itsingular.enums.TipoContratacao).values()}"
											th:value="${tipoContratacao}" th:text="${tipoContratacao}"></option>
									</select> <span
										th:if="${#fields.hasErrors('formaContratacaoSecundaria')}"
										th:errors="*{formaContratacaoSecundaria}" class="text-danger"></span>

								</div>
								<div class="form-group col-md-3">
									<label for="valorContratacaoSecundaria"
										class="col-form-label labels">Valor (Por Hora)</label> <input
										type="text" th:field="*{valorContratacaoSecundaria}"
										data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': 'R$ ', 'placeholder': '0'"
										class="form-control" id="valorContratacaoSecundaria"
										placeholder="Valor"><span
										th:if="${#fields.hasErrors('valorContratacaoSecundaria')}"
										th:errors="*{valorContratacaoSecundaria}" class="text-danger"></span>
								</div>

								<div class="form-group col-md-2">
									<label for="telCelular" class="col-form-label"
										style="margin-left: 1px">Celular</label> <input
										type="text" th:field="*{telCelular}" class="form-control"
										id="telCelular" maxlength="14"
										data-inputmask="'mask': '(99)99999-9999'"
										placeholder="Telefone Celular"> <span
										th:if="${#fields.hasErrors('telCelular')}"
										th:errors="*{telCelular}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-2">
									<label for="telCelularSecundario" class="col-form-label"
										style="margin-left: 1px">Celular Secundário</label> <input
										type="text" th:field="*{telCelularSecundario}"
										class="form-control" id="telCelularSecundario" maxlength="14"
										data-inputmask="'mask': '(99)99999-9999'"
										placeholder="Telefone Celular">
								</div>

								<div class="form-group col-md-4">
									<label for="email" class="col-form-label"
										style="margin-left: 1px">E-mail</label> <input type="text"
										th:field="*{email}" class="form-control" id="email"
										data-inputmask="'alias': 'email'" placeholder="Digite E-mail">
									<span th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4">
									<label for="emailSecundario" class="col-form-label"
										style="margin-left: 1px">E-mail Secundário</label> <input
										type="text" th:field="*{emailSecundario}" class="form-control"
										id="emailSecundario" data-inputmask="'alias': 'email'"
										placeholder="Digite E-mail">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-3">
									<label for="fileCurriculoPDC" class="col-form-label"
										style="margin-left: 1px">Upload Arquivos</label>
									<p>
										<span><a style="font-size: 12px; color: red">**
												Limite de upload por arquivo: 1MB **</a></span>
									</p>
									<p>
										<span><a style="font-size: 12px;">** 1º Adicione o
												PDF **</a></span>
									</p>
									<input type="file" name="pdf" id="pdf"
										title="Tamanho Permitido: 2MB" alt="Tamanho Permitido: 2MB"
										style="width: 800px" /> <br />
									<p>
										<span><a style="font-size: 12px;">** 2º Adicione o
												Word **</a></span>
									</p>
									<input type="file" name="word" id="word"
										title="Tamanho Permitido: 2MB" alt="Tamanho Permitido: 2MB"
										style="width: 800px" /> <br />
								</div>
							</div>
							<div class="row">
								<BR />
								<div class=" form-group col-md-9">
									<label for="tecnologiasAssociadas" style="margin-left: 1px">Currículos
									</label> <select class="form-control"
										th:field="*{tecnologiasAssociadas}" style="height: 200px"
										multiple="multiple">
										<option th:each="cursos : ${listCursos}"
											th:value="${cursos.id}"
											th:text="Tecnologia +':'+ ${cursos.nomeCurso} + ' - ' + Versão + ':' + ${cursos.versao}"></option>
									</select> <span th:if="${#fields.hasErrors('tecnologiasAssociadas')}"
										th:errors="*{tecnologiasAssociadas}" class="text-danger"></span>
								</div>
								<div class="form-group col-md-3" style="margin-top: 100px;">
									<input type="submit" id="incluir" class="btn btn-primary"
										value="Cadastrar Curriculo">
								</div>
							</div>
						</div>
						<BR />
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-heading">
									<div class="clearfix">
										<h1 class="panel-title" style="margin-left: -27px">Currículos
											Cadastrados</h1>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>CPF</th>
												<th>Nome do Candidato</th>
												<th>Data Nascimento</th>
												<th>Celular de Contato</th>
												<th>Email</th>
												<th>Ações</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="curriculos : ${listCurriculos.content}">
												<td th:text="${curriculos.cpf}"></td>
												<td th:text="${curriculos.nome}"
													style="word-wrap: break-word; width: 250px"></td>
												<td th:text="${curriculos.dataNascimentoFormat}"></td>
												<td th:text="${curriculos.telCelular}"></td>
												<td th:text="${curriculos.email}"></td>
												<td>
													<div class="btn-group pull-right">
														<a th:if="${curriculos.uploadDownloadPdf != null}" class="btn btn-sm btn-primary"
															th:href="@{/cadastrarCurriculos/viewPdf/{cpf}(cpf=${curriculos.cpf})}">PDF</a>
															
														<a th:if="${curriculos.uploadDownloadWord != null}" class="delete btn btn-sm btn-danger"
															style="margin-left: 2px"
															th:href="@{/cadastrarCurriculos/viewWord/{cpf}(cpf=${curriculos.cpf})}">Word</a>
														<a class="delete btn btn-sm btn-danger"
															style="margin-left: 2px"
															th:href="@{/cadastrarCurriculos/editar/{cpf}(cpf=${curriculos.cpf})}">Edit</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-sm-3" style="margin-right: 285px;">
									<div class="pagination">
										<p>
											<!-- <span class="badge" th:text="${page.size * (page.number-1) + 1}"></span> de  -->
											<span class="badge"
												th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span>
											de <span class="badge" th:text="${page.totalElements}"></span>
											vagas
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<!-- Pagination Bar -->
										<div th:fragment='paginationbar'>
											<div class="text-right">
												<ul class='pagination pagination-centered'>
													<li th:class="${page.firstPage}?'disabled':''"><span
														th:if='${page.firstPage}'>Anterior</span> <a
														th:if='${not page.firstPage}'
														th:href='@{/cadastrarCurriculos/paginacao/{page}/{size}(page=0,size=${page.size})}'>←
															Anterior </a></li>
													<li th:class="${page.hasPreviousPage}? '' : 'disabled'">
														<span th:if='${not page.hasPreviousPage}'>«</span> <a
														th:if='${page.hasPreviousPage}'
														th:href='@{/cadastrarCurriculos/paginacao/{page}/{size}(page=${page.number-2},size=${page.size})}'
														title='Go to previous page'>«</a>
													</li>
													<li th:each='item : ${page.items}'
														th:class="${item.current}? 'active' : ''"><span
														th:if='${item.current}' th:text='${item.number}'>1</span>
														<a th:if='${not item.current}'
														th:href='@{/cadastrarCurriculos/paginacao/{page}/{size}(page=${item.number-1},size=${page.size})}'><span
															th:text='${item.number}'>1</span></a></li>
													<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
														th:if='${not page.hasNextPage}'>»</span> <a
														th:if='${page.hasNextPage}'
														th:href='@{/cadastrarCurriculos/paginacao/{page}/{size}(page=${page.number},size=${page.size})}'
														title='Go to next page'>»</a></li>
													<li th:class="${page.lastPage}? 'disabled' : ''"><span
														th:if='${page.lastPage}'>Próximo →</span> <a
														th:if='${not page.lastPage}'
														th:href='@{/cadastrarCurriculos/paginacao/{page}/{size}(page=${page.totalPages - 1},size=${page.size})}'>Próximo</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>