<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
</script>
<body>
	<div class="d-flex">
		<div th:replace="Menu :: menu">...</div>
		<div id="content" class="p-4 p-md-5 pt-5 form-requisicao">
			<button id="sidebarCollapse" type="button"
				class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
				<i class="fa fa-bars mr-2"></i><small
					class="text-uppercase font-weight-bold">Menu</small>
			</button>
			<div>
				<a href="#"><img src="/img/itsingular.jpg"></a>
				<div th:each="m : ${msg}">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${m}"></span>
				</div>
			</div>
			<div th:switch="${message}" class="col-md-12" id="msg" role="alert">
				<div th:case="'Success'" class="alert alert-success">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Sucesso!</strong> Requisição criada com sucesso
				</div>
				<div th:case="'Failed'" class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Falha!</strong> Houve algum problema na abertura de
					requisição
				</div>
			</div>

			<div class="container my-5">
				<h3 align="center" style="margin-left: -100px">Empresa</h3>
				<BR /> <BR />
				<div class="card">

					<div class="card-body">
						<div class="col-md-10">
							<form th:action="@{/empresa/addEmpresa}" th:object="${empresa}"
								method="post">
								<div class="form-group col-md-6">
									<label for="razaoSocial" class="col-form-label">Razão
										Social</label> <input type="text" th:field="*{razaoSocial}"
										class="form-control" id="razaoSocial"
										placeholder="Razão Social"><span
										th:if="${#fields.hasErrors('razaoSocial')}"
										th:errors="*{razaoSocial}" class="text-danger"></span>

								</div>

								<div class="form-group col-md-8"></div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>