<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	
	<title>Recursos Humanos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<link th:rel="stylesheet" th:href="@{/menu/css/style.css}">
	<link th:rel="stylesheet" th:href="@{/css/rh/style.css}">
	<link rel="stylesheet" 	  th:src="@{/css/rh/datatable/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/css/rh/datatable/dataTables.bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/css/rh/datatable/datatables.min.css}">
	<link th:rel="stylesheet" th:href="@{/css/rh/bootstrap.min.css}">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link th:rel="stylesheet" th:href="@{/css/main.css}">
	<link th:rel="stylesheet" th:href="@{/css/requisicao/requisicao.css}">
</head>
<body>
<script th:src="@{/js/rh/datatable/1.10.20/datatables.min.js}"></script>
<script th:src="@{/js/rh/jquery/3.1.1/jquery.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<script th:src="@{/menu/js/popper.js}"></script>
<script th:src="@{/menu/js/bootstrap.min.js}"></script>
<script th:src="@{/menu/js/main.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script>
	$(function() {
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
</script>	
</body>
</html>