<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Infomações dos Candidatos</title>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/menu/css/style.css">
	<link rel="stylesheet" href="/css/candidato/style.css">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/candidato/bootstrap.min.css}"/>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- <link th:rel="stylesheet" th:href="@{/css/grafico/style.css}"> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/candidato/bootstrap-datepicker.standalone.css}"/>
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
</head>	
<body>
	<script th:src="@{/js/candidato/jquery-3.1.0.js}"></script>
	
	<script th:src="@{/js/rh/jquery/3.1.1/jquery.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0-rc.1/Chart.js"></script>
	<script th:src="@{/js/grafico/grafico.js}"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script th:src="@{/js/candidato/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/candidato/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/candidato/bootstrap-datepicker.pt-BR.min.js}"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
	<script th:src="@{/js/candidato/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/candidato/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/candidato/bootstrap-datepicker.pt-BR.min.js}"></script>
	<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
	<script src="/js/candidato/candidato.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
</body>
</html>

