<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script
	src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js"></script>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
	$(document).on("keydown", "#descricaoResumida", function() {
		var caracteresRestantes = 1000;
		var caracteresDigitados = parseInt($(this).val().length);
		var caracteresRestantes = caracteresRestantes - caracteresDigitados;

		$(".caracteres").text(caracteresRestantes);
	});

	$(document).ready(
			function() {
				$('#profissionais').DataTable(
						{
							"lengthMenu" : [ [ 10, 50, 100, -1 ],
									[ 10, 50, 100, "All" ] ]
						});

				$('#profissionais_filter').hide(); // Hide default search datatables where example is the ID of table

				$('#txtSearch').on(
						'keyup',
						function() {
							$('#profissionais').DataTable().search(
									$('#txtSearch').val(), false, true).draw();
						});
			});
	$(function() {
		$("#exporttable").click(
				function(e) {
					var table = $("#profissionais");
					if (table && table.length) {
						$(table).table2excel(
								{
									exclude : ".noExl",
									name : "Excel Document Name",
									filename : "ITSingular_Colaboradores_"
											+ new Date() + ".xls",
									fileext : ".xls",
									exclude_img : true,
									exclude_links : true,
									exclude_inputs : true,
									preserveColors : false
								});
					}
				});

	});
</script>
<body>
	<div class="d-flex">
		<div th:replace="Menu :: menu">...</div>
		<div id="content">
			<button id="sidebarCollapse" type="button"
				class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
				<i class="fa fa-bars mr-2"></i><small
					class="text-uppercase font-weight-bold">Menu</small>
			</button>
			<div class="container my-5">
				<div align="right" style="margin-top: -20px"
					class="form-group col-md-12">
					<output th:text="Olá+': ' + ${login.name}"></output>
					<span>Sair</span>&nbsp; <a href="#" th:href="@{/login/logout}">
						<img src="/img/sair.png" style="width: 22px; height: 22px">
					</a>
				</div>
				<h3 align="center">Listar Profissionais IT Singular</h3>
				<BR />
				<div class="col-md-12">
					<div align="right">
						<a class="btn btn-sm btn-primary"
							th:href="@{/cadastrar-funcionarios/direcionarTelaCadastro}">Cadastrar
							Profissional</a> <a href="#" id="exporttable"
							class="btn btn-sm btn-secondary"> <span
							class="fa fa-file-excel-o"></span> Export to Excel
						</a> <BR>
					</div>


					<form th:action="@{/cadastrar-funcionarios/incluir-alterar}"
						method="post" th:object="${funcionarios}"
						enctype="multipart/form-data">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-heading">
									<div class="clearfix">
										<h1 class="panel-title" style="margin-left: -27px">Funcionários
											Cadastrados</h1>
									</div>
								</div>
							</div>

							<div class="panel-body">
								<input id="txtSearch"
									placeholder="FILTRE SEU CANDIDATO POR AQUI!"
									class="form-control" />
								<div class="table-responsive">
									<table class="table table-striped table-bordered "
										id="profissionais">
										<thead>
											<tr>
												<th class="sticky-col first-col">Nome</th>
												<th>Gestor</th>
												<th>DPTO</th>
												<th>Cliente</th>
												<th>Cargo</th>
												<th>Status</th>
												<th>Tp Contratação</th>
												<th>Dt Contratação</th>
												<th>Dt Fim Contratação</th>
												<th>Remuneração</th>
												<th>VL transporte</th>
												<th>VL VR/VA</th>
												<th>VL PL Saúde</th>
												<th>VL Aux Creche</th>
												<th>Nº Celular</th>
												<th>Nº Telefone</th>
												<th>E-Mail</th>
												<th>Filhos?</th>
												<th>Data Nascimento</th>
												<th>Idade</th>
												<th>Endereço</th>
												<th>Nº</th>
												<th>Complemento</th>
												<th>Bairro</th>
												<th>Estado</th>
												<th>CEP</th>
												<th>Notebook?</th>
												<th>Dominio IT?</th>
												<th>Ações</th>


											</tr>
										</thead>
										<tbody>
											<tr th:each="funcionarios : ${listarFuncionarios}">
												<td class="sticky-col first-col"
													th:text="${funcionarios.nome}" style="white-space: nowrap"></td>
												<td th:text="${funcionarios.gestores}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.departamento}"></td>
												<td th:text="${funcionarios.clienteParceiros}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.cargo}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.statusFuncionario}"></td>
												<td th:text="${funcionarios.tipoContratacao}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.dataContratacao}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.dataFimContratacao}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.remuneracao}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.valorTransporte}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.valorVrVA}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.valorPlanoSaude}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.valorAuxilioCreche}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.numeroCelular}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.numeroTelefone}"
													style="white-space: nowrap"></td>
												<td th:text="${funcionarios.email}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.quantidadeFilhos}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.dataNascimento}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.idade}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.logradouro}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.numero}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.complemento}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.bairro}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.estado}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.cep}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.necessarioNotebookITSingular}"
													style="white-space: nowrap"></td>
												
												<td th:text="${funcionarios.necessarioDominioITSingular}"
													style="white-space: nowrap"></td>
												<td>
													<div class="btn-group pull-right"
														style="word-wrap: break-word">
														<a class="delete btn btn-sm btn-danger"
															style="margin-left: 2px"
															th:href="@{/cadastrar-funcionarios/editar/{id}(id=${funcionarios.id})}">View/Edit</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>