<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:insert="Header.html"></div>
<div th:fragment="menu">
	<div class="vertical-nav bg-white active" id="sidebar">
		<div class="py-4 px-3 mb-4 bg-light">
			<div class="media d-flex align-items-center">
				<img
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNCkExsSBE5bx5r0q4jfiaWu1NQuKAkx6NtzJMzG4Mh1oQzn-s"
					alt="..." width="65"
					class="mr-3 rounded-circle img-thumbnail shadow-sm">
				<div class="media-body">
					<h4 class="m-0"></h4>
					<p class="font-weight-light text-muted mb-0">Portal ItSingular</p>
				</div>
			</div>
		</div>

		<p
			class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

		<ul class="nav flex-column bg-white mb-0">
			<li class="nav-item"><a href="#"
				class="nav-link text-dark font-italic"> <i
					class="fa fa-th-large mr-3 text-primary fa-fw"></i> Home
			</a></li>
			<li class="nav-item"><a href="#"
				th:href="@{/comercial/cadastro}"
				class="nav-link text-dark font-italic"> <i
					class="fa fa-address-card mr-3 text-primary fa-fw"></i> Cadastrar
					Comercial
			</a></li>
			<li class="nav-item"><a href="#" th:href="@{/empresa/abrir}"
				class="nav-link text-dark font-italic"> <i
					class="fa fa-address-card mr-3 text-primary fa-fw"></i> Cadastro
					Empresas
			</a></li>
			<li class="nav-item"><a href="#" th:href="@{/requisicao/abrir}"
				class="nav-link text-dark font-italic"> <i
					class="fa fa-address-card-o mr-3 text-primary fa-fw"></i>
					Requisição de Vagas
			</a></li>
			<li class="nav-item"><a href="#" th:href="@{/comercial/informacoes}"
				class="nav-link text-dark font-italic"> <i
					class="fa fa-address-card-o mr-3 text-primary fa-fw"></i>
					Informacoes Comercial
			</a></li>
			
			<li class="active"><a href="#homeSubmenu"
			 
				data-toggle="collapse" aria-expanded="false"
				class="nav-link text-dark font-italic"> <i
					class="fa fa-picture-o mr-3 text-primary fa-fw"></i> Configurações
			</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li class="nav-link text-dark font-italic">
						<a href="#" th:href="@{/cadastrarCursos/listar}" class="nav-link text-dark font-italic"><i
							class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Cadastrar Cursos</a></li>
					<li class="nav-link text-dark font-italic">
						<a href="#" class="nav-link text-dark font-italic"><i
							class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Cadastro XXXX</a></li>
					<li class="nav-link text-dark font-italic">
						<a href="#" class="nav-link text-dark font-italic"><i
							class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Cadastro YYYY</a></li>
				</ul></li>
		</ul>
	</div>
	<!-- End vertical navbar -->


	<!-- Page content holder -->

</div>

</html>