<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<body>
<div th:replace="Menu :: menu">...</div>
		<div id="content" class="p-4 p-md-5 pt-5 form-requisicao">
			<button id="sidebarCollapse" type="button"
				class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
				<i class="fa fa-bars mr-2"></i><small
					class="text-uppercase font-weight-bold">Menu</small>
			</button>

	<a href="#"><img src="/img/itsingular.jpg"></a>
	<h3 align="center" style="margin-left: -100px">Informações Empresa</h3>
	<BR />
	<div class="panel-body">

			<div class="table-responsive">
<!-- 			<input type="hidden" th:field="*{id}" /> -->
				<form method="get" th:action="@{/empresa}" th:object="${filtro}">
					<input type="text" th:field="*{fantasia}"
									class="form-control" placeholder="Nome Fantasia">
								<span class="text-danger">
									<button type="submit" class="btn btn-primary"
										value="Consultar">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</span>
				</form>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">Razão social</th>
							<th class="text-center">Nome Fantasia</th>
							<th class="text-center col-md-2">CNPJ</th>
							<th class="text-center">Contato</th>
							<th class="text-center">Email</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="empresa: ${empresas}">
							<td class="text-center" th:text="${{empresa.razaoSocial}}">1</td>
							<td class="text-center" th:text="${{empresa.fantasia}}"></td>
							<td class="text-center" th:text="${{empresa.cnpj}}"></td>
							<td class="text-center" th:text="${{empresa.pessoaContato}}|"></td>
							<td class="text-center" th:text="${{empresa.emailContato}}|"></td>
						</tr>

						<tr>
							<td class="text-center col-md-2" colspan="6"
								th:if="${#lists.isEmpty(empresas)}">Empresa não encontrada</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
</html>