<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});

	$(document).ready(
			function() {
				$('#solicitacao').DataTable();

				$('#solicitacao_filter').hide(); // Hide default search datatables where example is the ID of table

				$('#txtSearch').on(
						'keyup',
						function() {
							$('#solicitacao').DataTable().search(
									$('#txtSearch').val(), false, true).draw();
						});
			});
</script>
<body>
	<div class="d-flex">
		<div th:replace="Menu :: menu">...</div>
		<div id="content">
			<button id="sidebarCollapse" type="button"
				class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
				<i class="fa fa-bars mr-2"></i><small
					class="text-uppercase font-weight-bold">Menu</small>
			</button>
			<div class="container my-5">
				<div align="right" style="margin-top: -30px"
					class="form-group col-md-12">
					<output th:text="Olá+': ' + ${login.name}"></output>
					<span>Sair</span>&nbsp; <a href="#" th:href="@{/login/logout}">
						<img src="/img/sair.png" style="width: 22px; height: 22px">
					</a>
				</div>
				<h3 align="center">View RH</h3>
				<BR />
				<div class="col-md-12">
					<form th:action="@{/recursos-humanos/vagas/pesquisar}" method="GET"
						class="form-horizontal">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-heading">
									<div class="clearfix">
										<h1 class="panel-title" style="margin-left: -27px">Requisições
											Abertas</h1>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<input id="txtSearch"
									placeholder="FILTRE SEU CANDIDATO POR AQUI!"
									class="form-control" /><BR>
								<div class="table-responsive">
									<table class="table table-striped table-bordered"
										id="solicitacao">
										<thead>
											<tr>
												<th class="text-center col-md-1">Data Solicitação</th>
												<th class="text-center col-md-1">Cliente</th>
												<th class="text-center col-md-1">Vaga</th>
												<th class="text-center col-md-1">Status</th>
												<th class="text-center col-md-1">Resp. RH</th>
												<th class="text-center col-md-1">View Candidatos</th>
												<th class="text-center col-md-1">Ações</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="vaga: ${vagas}">
												<td class="text-center" th:text="${vaga.dataSolicitacao}"></td>
												<td class="text-center" th:text="${vaga.cliente}"></td>
												<td class="text-center" th:text="${vaga.cargo}"></td>
												<td class="text-center" th:attr="data-role=${vaga.id}"><span
													class="label" th:text="${vaga.status}"
													th:classappend="${vaga.status == 'Pendente'? 'label-danger' : 'label-success'}">
												</span></td>
												<td class="text-center" th:text="${vaga.responsavelRh}"></td>
												<td class="text-center">
												<a class="btn btn-link btn-xs js-view-information"
													data-toggle="modal" th:href="@{/recursos-humanos/vagas/{id}(id=${vaga.id})}" title="Vizualizar" rel="tooltip" data-placement="top">
														<span class="glyphicon glyphicon-eye-open"></span></a></td>
												<td class="text-center">
													<div class="btn-group pull-right"
														style="word-wrap: break-word; width: 200px">
														<a class="delete btn btn-sm btn-danger" 
															th:if="${vaga.responsavelRh==null}" 
															th:href="@{/recursos-humanos/responsavel/{id}(id=${vaga.id})}">Responsável
														</a> 
														<a  class="btn btn-sm btn-primary"
															th:if="${vaga.responsavelRh!=null && vaga.status != 'REQUISICAO_CONCLUIDA'}" 
															th:href="@{/recursos-humanos/concluirTarefa/{id}(id=${vaga.id})}">Concluir Tarefa
														</a>
														<a th:if="${vaga.responsavelRh!=null && vaga.status == 'REQUISICAO_CONCLUIDA'}" >
														Não há ações no momento. Requisição Concluída</a>
													</div> 
												</td>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- Modal -->
						<div class="modal myForm datatableModal" id="vagas-modal"
							tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-content">
								<div class="modal-body">
									<table id="table"
										class="table cell-border table-responsive table-striped table-bordered"
										style="width: 0%">
										<thead>
											<tr>
												<th>CPF</th>
												<th>Nome</th>
												<th>Forma Contratação PJ</th>
												<th>Valor Solicitado PJ</th>
												<th>Forma Contratação CLT</th>
												<th>Valor Solicitado CLT</th>
												<th>E-mail</th>
												<th>Telefone</th>
												<th>Currículo</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Fechar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>