<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
</script>

<body>
	<div class="panel-body">
		<form th:action="@{/recursos-humanos/vagas/pesquisar}" method="GET" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<div class="input-group">
						<input class="form-control" name="filtro" id="filtro"
							placeholder="Filtrar vagas" autofocus="autofocus"
							th:value="${filtro}" /> <span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>

		<div class="table-responsive">

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<!-- <th class="text-center col-md-1">#</th> -->
						<th class="text-center">Data Solicitação</th>
						<th class="text-center col-md-1">Cliente</th>
						<th class="text-center col-md-1">Vaga</th>
						<th class="text-center col-md-1">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>

				<tbody>

					<tr th:each="vaga: ${vagas.content}">
						<!-- <td class="text-center" th:text="${vaga.id}">1</td> -->
						<td class="text-center col-md-1" th:text="${vaga.dataSolicitacao}"></td>
						<td class="text-center" th:text="${{vaga.cliente}}"></td>
						<td class="text-center col-md-1"
							th:text="${{vaga.cargo}}|"></td>
						<td class="text-center col-md-1" th:attr="data-role=${vaga.id}">
							<span class="label" th:text="${vaga.status}"
							th:classappend="${vaga.status == 'Pendente'? 'label-danger' : 'label-success'}">
						</span>
						</td>
						<td class="text-center col-md-1"><a
							class="btn btn-link btn-xs js-view-information" data-toggle="modal"
							data-target="#vagas-modal"
							th:href="@{/recursos-humanos/vagas/{id}(id=${vaga.id})}"
							title="Vizualizar" rel="tooltip" data-placement="top"> <span
								class="glyphicon glyphicon-eye-open"></span>
						</a></td>
					</tr>
					<tr>
						<td class="text-center col-md-2" colspan="6"
							th:if="${#lists.isEmpty(vagas)}">Vagas não encontradas</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--Pagination  -->
		<div id="bottom" class="row">
			<div class="col-md-12">
				<span th:if="${vagas.hasPrevious()}" class="pagination"> <a
					th:href="@{/recursos-humanos/view(page=${vagas.number-1},size=${vagas.size})}">Anterior</a>
				</span>
				<th:block th:each="i: ${#numbers.sequence(0, vagas.totalPages - 1)}">
					<span th:if="${vagas.number == i}" class="selected">[[${i}+1]]</span>
					<span th:unless="${vagas.number == i}"> <a
						th:href="@{/recursos-humanos/view(page=${i},size=${vagas.size})}">[[${i}+1]]</a>
					</span>
				</th:block>
				<span th:if="${vagas.hasNext()}"> <a
					th:href="@{/recursos-humanos/view(page=${vagas.number+1},size=${vagas.size})}">Próximo</a>
				</span>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal myForm" id="vagas-modal" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			  	<div class="modal-content">
				  	<form th:action="@{/save}" method="post">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				 <!--      <div class="modal-body">
						 <div class="form-group">
		                    <label for="nomeSolicitante" class="col-form-label">Nome Solicitante:</label>
		                    <output id="nomeSolicitante" name="nomeSolicitante"/></output>
		                 </div>
				      </div> -->
						<div class="modal-body">

						<div class="form-group">
							<div class="window-module">
								<div class="window-module-title window-module-title-no-divider description-title">
									<span class="glyphicon glyphicon-info-sign window-module-title-icon"></span>
									<h3 class="u-inline-block">Nome solicitante:</h3>
									<div class="editable">
										<output class="button subtle hide-on-edit js-show-with-desc js-edit-desc js-edit-desc-button" id="nomeSolicitante" name="nomeSolicitante" for="nomeSolicitante"></output>
									</div>
								</div>
								<div class="u-gutter">
										<div class="editable">
											<div class="description-content js-desc-content">
												<div class="window-module-title window-module-title-no-divider description-title">
													<span class="glyphicon glyphicon-info-sign window-module-title-icon"></span>
													<h3 class="u-inline-block">Data Solicitação:</h3>
													<div class="editable">
														<output class="button subtle hide-on-edit js-show-with-desc js-edit-desc js-edit-desc-button" id="dataSolicitacao" name="dataSolicitacao" for="dataSolicitacao"></output>
													</div>
												</div>
												<!-- <p class="u-bottom js-hide-with-desc hide">
												<a
													class="description-fake-text-area hide-on-edit js-edit-desc  js-hide-with-draft"
													href="#">Adicione uma descrição mais detalhada...</a>
											</p> -->
												<!-- 	<div class="description-edit edit">
												<a class="helper button subtle js-format-help" href="#">Ajuda
													para formatação</a>
												<textarea
													class="field field-autosave js-description-draft description card-description"
													placeholder="Adicione uma descrição mais detalhada..."></textarea>
											</div> -->
												<!-- <p class="edits-warning quiet">
												Você tem edições não salvas neste campo. <a
													class="js-view-edits" href="#">Exibir edições</a> - <a
													class="js-discard-edits" href="#">Descartar</a>
											</p>
											<p class="edits-error error">A edição não foi salva.</p> -->
											</div>
										</div>
									</div>
							</div>
						</div>


							<div class="form-group">
								<div class="window-module js-attachments-section u-clearfix">
									<div class="window-module-title window-module-title-no-divider">
										<span class="window-module-title-icon glyphicon glyphicon-paperclip"></span>
										<h3 class="u-inline-block">Anexos</h3>
									</div>
									<div class="u-gutter">
										<div class="u-clearfix js-attachment-list ui-sortable">
											<div class="attachment-thumbnail">
												<a class="attachment-thumbnail-preview js-open-viewer"
													href="https://trello-attachments.s3.amazonaws.com/5c34c29e22332b4655e15278/5d66e92920d77c327f2f3fb9/85fbab9419ac861d1d5e02c4440532b6/Requisi%C3%A7%C3%A3o_de_Vagas_-_Teste.pdf"
													target="_blank" title="Requisição de Vagas - Teste.pdf"
													style="" rel="noreferrer nofollow noopener"><span
													class="attachment-thumbnail-preview-ext">pdf</span></a>
												<p class="attachment-thumbnail-details js-open-viewer">
													<span class="attachment-thumbnail-name">Requisição
														de Vagas - Teste.pdf</span><a
														class="attachment-thumbnail-details-title-action dark-hover js-attachment-action js-direct-link"
														href="https://trello-attachments.s3.amazonaws.com/5c34c29e22332b4655e15278/5d66e92920d77c327f2f3fb9/85fbab9419ac861d1d5e02c4440532b6/Requisi%C3%A7%C3%A3o_de_Vagas_-_Teste.pdf"
														target="_blank" rel="noreferrer nofollow noopener"><span
														class="icon-sm icon-external-link"></span></a><span
														class="u-block quiet attachment-thumbnail-details-title-options"><span>Adicionado:
															<span class="date" dt="2020-02-05T16:53:53.563Z"
															title="5 de fevereiro de 2020 às 13:53">5 de fev
																às 13:53</span>
													</span><span><a
															class="attachment-thumbnail-details-title-options-item js-reply"
															href="#"><span
																class="attachment-thumbnail-details-options-item-text">Comentário</span></a></span><span><a
															class="attachment-thumbnail-details-title-options-item dark-hover js-confirm-delete"
															href="#"><span
																class="attachment-thumbnail-details-options-item-text">Excluir</span></a></span><span><a
															class="attachment-thumbnail-details-title-options-item dark-hover js-edit"
															href="#"><span
																class="attachment-thumbnail-details-options-item-text">Editar</span></a></span></span><span
														class="quiet attachment-thumbnail-details-options"><a
														class="attachment-thumbnail-details-options-item dark-hover hide js-make-cover"
														href="#"><span class="icon-sm icon-card-cover"></span>
															<span
															class="attachment-thumbnail-details-options-item-text">Criar
																Capa</span></a><a
														class="attachment-thumbnail-details-options-item dark-hover hide js-remove-cover"
														href="#"><span class="icon-sm icon-card-cover"></span>
															<span
															class="attachment-thumbnail-details-options-item-text">Remover
																Capa</span></a></span>
												</p>
											</div>
										</div>
										<p class="js-show-fewer-attachments hide">
											<a class="quiet-button js-view-some-attachments" href="#">Mostre
												menos anexos.</a>
										</p>
										<p class="js-show-more-attachments hide">
											<a class="quiet-button js-view-all-attachments" href="#">Exibir
												todos os anexos (-3 ocultos)</a>
										</p>
									</div>
								</div>
							</div>
						</div>


						<div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				       <!--  <button type="button" class="btn btn-primary">Salvar mudanças</button> -->
				      </div>
					</form>
				
				 <!-- <div class="row">
	            <div class="col-md-8 mx-auto">
	                <h3>Upload File Example</h3>
	                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
	                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
	                    <span class="attachment-thumbnail-preview-ext">pdf</span>
	                    <button type="submit" class="btn btn-primary">Upload File</button>
	                </form>
	           	 </div>
       			 </div> -->
			  </div>
			</div>
		</div>
	</div>
</body>
</html>