<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div th:insert="Header.html"></div>
<script>
	$(function() {
		// Sidebar toggle behavior
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar, #content').toggleClass('active');
		});
	});
</script>

<body>
	<div class="d-flex">
	<div th:replace="Menu :: menu">...</div>
	<div class="container" id="content">
		<h3 align="center">Lista Comercial</h3>
		<br /> <br />
		<button id="sidebarCollapse" type="button"
			class="btn btn-light bg-white rounded-pill shadow-sm">
			<i class="fa fa-bars mr-2"></i><small
				class="text-uppercase font-weight-bold">Menu</small>
		</button>
		<div class="panel-body">

			<form th:action="@{/comercial/filtrar}" method="GET" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group">
							<input class="form-control" name="filtro" id="filtro" placeholder="Filtrar requisição" autofocus="autofocus" th:value="${filtro}"/>
								<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead class="thead-light">
						<tr>
							<th class="text-center col-md-2">Data Solicitação</th>
							<th class="text-center col-md-2">Cliente</th>
							<th class="text-center col-md-3">Solicitante</th>
							<th class="text-center col-md-2">Ramo Atividade</th>
							<th class="text-center col-md-2">SLA (Dias)</th>
							<th class="text-center col-md-6">Status</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="requisicao: ${requisicoes.content}">
							<td class="text-center" th:text="${{requisicao.dataSolicitacao}}"></td>
							<td class="text-center" th:text="${{requisicao.cliente}}"></td>
							<td class="text-center" th:text="${{requisicao.nomeSolicitante}}"></td>
							<td class="text-center" th:text="${{requisicao.ramoAtividade}}"></td>
							<td class="text-center" th:style="${{requisicao.sla == 3 ? 'color: red;' : 'color: green;'}}" th:text="${{requisicao.sla}}"></td>
							<td class="text-center" th:attr="data-role=${requisicao.id}">
		   						<span class="label" th:text="${requisicao.status}"
		   							th:classappend="${requisicao.status == 'Pendente'? 'label-danger' : 'label-success'}">
		   						</span>
	   					</td>
						</tr>
						<tr>
							<td class="text-center col-md-2" colspan="6"
								th:if="${#lists.isEmpty(requisicoes.content)}">Requisição não encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--Pagination  -->
          	<div class="col-sm-3" style="margin-right:285px;">
                 <div class="pagination">
                 		<p>
                 			<!-- <span class="badge" th:text="${page.size * (page.number-1) + 1}"></span> de  -->
                          <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de 
                          <span class="badge" th:text="${page.totalElements}"></span>
                         vagas
                         </p>
                 </div>
             </div>
           
			<div class="row" style="margin-left:790px; width:470px;">
                <div class="col-sm-15">
                    <!-- Pagination Bar -->
                    <div th:fragment='paginationbar'>
                        <div class="text-center">
                            <ul class='pagination pagination-centered'>
                                <li th:class="${page.firstPage}?'disabled':''">
                                    <span th:if='${page.firstPage}'>Anterior</span>
                                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                        Anterior
                                    </a>
                                </li>
                                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasPreviousPage}'>«</span>
                                    <a th:if='${page.hasPreviousPage}'
                                       th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                                       title='Go to previous page'>«</a>
                                </li>
                                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                    <a th:if='${not item.current}'
                                       th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                            th:text='${item.number}'>1</span></a>
                                </li>
                                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasNextPage}'>»</span>
                                    <a th:if='${page.hasNextPage}'
                                       th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                                       title='Go to next page'>»</a>
                                </li>
                                <li th:class="${page.lastPage}? 'disabled' : ''">
                                    <span th:if='${page.lastPage}'>Próximo →</span>
                                    <a th:if='${not page.lastPage}'
                                       th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Próximo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         </div>
		</div>
	</div>
</body>
</html>