<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:insert="LayoutRH.html"></div>
<body>
<div class="d-flex">
	<div th:replace="Menu :: menu">...</div>
	<div class="container" id="content">
	<h3 align="center">Lista de Vagas RH</h3>
		<br /> <br />
		<button id="sidebarCollapse" type="button"
			class="btn btn-light bg-white rounded-pill shadow-sm">
			<i class="fa fa-bars mr-2"></i><small
				class="text-uppercase font-weight-bold">Menu</small>
		</button>
	<div class="panel-body">
		<form th:action="@{/recursos-humanos/vagas/pesquisar}" method="GET" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<div class="input-group">
						<input class="form-control" name="filtro" id="filtro" placeholder="Filtrar vagas" autofocus="autofocus" th:value="${filtro}" /> <span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>

		<div class="table-responsive">
			<table class="table table-bordered table-striped ">
				<thead>
					<tr>
						<th class="text-center">Data Solicitação</th>
						<th class="text-center col-md-1">Cliente</th>
						<th class="text-center col-md-1">Vaga</th>
						<th class="text-center col-md-1">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>

				<tbody>

					<tr th:each="vaga: ${vagas.content}">
						<td class="text-center col-md-1" th:text="${vaga.dataSolicitacao}"></td>
						<td class="text-center" th:text="${{vaga.cliente}}"></td>
						<td class="text-center col-md-1"
							th:text="${{vaga.cargo}}|"></td>
						<td class="text-center col-md-1" th:attr="data-role=${vaga.id}">
							<span class="label" th:text="${vaga.status}"
							th:classappend="${vaga.status == 'Pendente'? 'label-danger' : 'label-success'}">
						</span>
						</td>
						<td class="text-center col-md-1"><a 
							class="btn btn-link btn-xs js-view-information" data-toggle="modal"
							th:href="@{/recursos-humanos/vagas/{id}(id=${vaga.id})}"
							title="Vizualizar" rel="tooltip" data-placement="top"> <span
								class="glyphicon glyphicon-eye-open"></span>
						</a></td>
					</tr>
					<tr>
						<td class="text-center col-md-2" colspan="6"
							th:if="${#lists.isEmpty(vagas.content)}">Vagas não encontradas</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--Pagination  -->
          	<div class="col-sm-3" style="margin-right:285px;">
                 <div class="pagination">
                 		<p>
                 			<!-- <span class="badge" th:text="${page.size * (page.number-1) + 1}"></span> de  -->
                          <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> de 
                          <span class="badge" th:text="${page.totalElements}"></span>
                         vagas
                         </p>
                 </div>
             </div>
           
			<div class="row" style="margin-left:790px; width:470px;">
                <div class="col-sm-15">
                    <!-- Pagination Bar -->
                    <div th:fragment='paginationbar'>
                        <div class="text-center">
                            <ul class='pagination pagination-centered'>
                                <li th:class="${page.firstPage}?'disabled':''">
                                    <span th:if='${page.firstPage}'>Anterior</span>
                                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                        Anterior
                                    </a>
                                </li>
                                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasPreviousPage}'>«</span>
                                    <a th:if='${page.hasPreviousPage}'
                                       th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                                       title='Go to previous page'>«</a>
                                </li>
                                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                    <a th:if='${not item.current}'
                                       th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                            th:text='${item.number}'>1</span></a>
                                </li>
                                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasNextPage}'>»</span>
                                    <a th:if='${page.hasNextPage}'
                                       th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                                       title='Go to next page'>»</a>
                                </li>
                                <li th:class="${page.lastPage}? 'disabled' : ''">
                                    <span th:if='${page.lastPage}'>Próximo →</span>
                                    <a th:if='${not page.lastPage}'
                                       th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Próximo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        <!-- Modal Loading-->   
       <div class="modal loading modalLoading" id="modalAguarde" aria-labelledby="modalAguarde" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="mySmallModalLabel">Aguarde</h4>
				</div>
				<div class="modal-body">
					<center><img src="/img/rh/loading.gif" /></center>
				</div>
			</div>
		</div>    
        <!-- Modal Loading-->      
           
           
		<!-- Modal -->
			<div class="modal myForm datatableModal" id="vagas-modal" tabindex="-1" role="dialog" aria-hidden="true">
			  	<div class="modal-content">
						<div class="modal-body">
				                <table id="table" class="table cell-border table-responsive table-striped table-bordered" style="width:0%">
				                    <thead>
				                        <tr>
				                         	<th class='foo'>CPF</th>
				                            <th class='foo'>Nome</th>
				                            <th class='foo'>Forma Contratação</th>
				                            <th class='foo'>Valor Solicitado</th>
				                            <th class='foo'>E-mail</th>
				                            <th class='foo'>Telefone</th>
				                            <th>Currículo</th>
				                        </tr>
				                    </thead>
				                </table>
						</div>
				 <div class="modal-footer">
		       		 <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		      	</div>
			</div>
		 </div>
		</div>
	</div>
</div>
</body>
</html>